In [2]:
#Import Library Pandas
import pandas as pd

In [3]:
#load Data 
data_frame_test = pd.read_csv("test.csv")
data_frame = pd.read_csv("train.csv")
#backup dataframe
data_frame_backup = data_frame

y = data_frame['SaleCondition']

data_frame

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [5]:
# set(data_frame['MasVnrType'])

In [6]:
# ubah nama kolom menjadi lower
data_frame.columns= data_frame.columns.str.strip().str.lower()

data_frame

,id,mssubclass,mszoning,lotfrontage,lotarea,street,alley,lotshape,landcontour,utilities,...,poolarea,poolqc,fence,miscfeature,miscval,mosold,yrsold,saletype,salecondition,saleprice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [5]:
# data_frame['lotfrontage'].str.lower()

In [7]:
#mencari mean
mean_data = data_frame.mean()
# mean_data

In [8]:
#mencari median
median_data = data_frame.median()
# median_data

In [9]:
#cek Nama Kolom
print(len(data_frame.columns), "kolom")
data_frame.columns

81 kolom

Index(['id', 'mssubclass', 'mszoning', 'lotfrontage', 'lotarea', 'street',
       'alley', 'lotshape', 'landcontour', 'utilities', 'lotconfig',
       'landslope', 'neighborhood', 'condition1', 'condition2', 'bldgtype',
       'housestyle', 'overallqual', 'overallcond', 'yearbuilt', 'yearremodadd',
       'roofstyle', 'roofmatl', 'exterior1st', 'exterior2nd', 'masvnrtype',
       'masvnrarea', 'exterqual', 'extercond', 'foundation', 'bsmtqual',
       'bsmtcond', 'bsmtexposure', 'bsmtfintype1', 'bsmtfinsf1',
       'bsmtfintype2', 'bsmtfinsf2', 'bsmtunfsf', 'totalbsmtsf', 'heating',
       'heatingqc', 'centralair', 'electrical', '1stflrsf', '2ndflrsf',
       'lowqualfinsf', 'grlivarea', 'bsmtfullbath', 'bsmthalfbath', 'fullbath',
       'halfbath', 'bedroomabvgr', 'kitchenabvgr', 'kitchenqual',
       'totrmsabvgrd', 'functional', 'fireplaces', 'fireplacequ', 'garagetype',
       'garageyrblt', 'garagefinish', 'garagecars', 'garagearea', 'garagequal',
       'garagecond', 'paveddrive', 'wooddecksf', 'openporchsf',
       'enclosedporch', '3ssnporch', 'screenporch', 'poolarea', 'poolqc',
       'fence', 'miscfeature', 'miscval', 'mosold', 'yrsold', 'saletype',
       'salecondition', 'saleprice'],
      dtype='object')

In [10]:
#proses merubah data menjadi lower
#dan merubah null data menjadi median
for kolom in data_frame.columns:
    try: #yang diubah hanya data yang bertipe string
        data_frame[kolom] = data_frame[kolom].str.lower()
    except: #jika data bukan bertipe string maka akan dilewati (pass)
        data_frame[kolom] = data_frame[kolom].fillna(median_data[kolom])

In [11]:
#hanya buat cek dataframe setelah diubah menjadi lower
data_frame

,id,mssubclass,mszoning,lotfrontage,lotarea,street,alley,lotshape,landcontour,utilities,...,poolarea,poolqc,fence,miscfeature,miscval,mosold,yrsold,saletype,salecondition,saleprice
0,1,60,rl,65.0,8450,pave,NaN,reg,lvl,allpub,...,0,NaN,NaN,NaN,0,2,2008,wd,normal,208500
1,2,20,rl,80.0,9600,pave,NaN,reg,lvl,allpub,...,0,NaN,NaN,NaN,0,5,2007,wd,normal,181500
2,3,60,rl,68.0,11250,pave,NaN,ir1,lvl,allpub,...,0,NaN,NaN,NaN,0,9,2008,wd,normal,223500
3,4,70,rl,60.0,9550,pave,NaN,ir1,lvl,allpub,...,0,NaN,NaN,NaN,0,2,2006,wd,abnorml,140000
4,5,60,rl,84.0,14260,pave,NaN,ir1,lvl,allpub,...,0,NaN,NaN,NaN,0,12,2008,wd,normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,rl,62.0,7917,pave,NaN,reg,lvl,allpub,...,0,NaN,NaN,NaN,0,8,2007,wd,normal,175000
1456,1457,20,rl,85.0,13175,pave,NaN,reg,lvl,allpub,...,0,NaN,mnprv,NaN,0,2,2010,wd,normal,210000
1457,1458,70,rl,66.0,9042,pave,NaN,reg,lvl,allpub,...,0,NaN,gdprv,shed,2500,5,2010,wd,normal,266500
1458,1459,20,rl,68.0,9717,pave,NaN,reg,lvl,allpub,...,0,NaN,NaN,NaN,0,4,2010,wd,normal,142125
1459,1460,20,rl,75.0,9937,pave,NaN,reg,lvl,allpub,...,0,NaN,NaN,NaN,0,6,2008,wd,normal,147500

In [12]:
#optional, Kalau NA mau tampil
data_frame = data_frame.fillna("NA")
#memampilkan Data dengan NA
data_frame_non_mumerical = data_frame

In [13]:
#Simpan data di harddisk
data_frame.to_csv("test_output.csv",index=False)

In [14]:
# set(data_frame.Utilities)

In [16]:
#membuat dictionary untuk mengubah data Kategorikal menjadi numerical
data_kategorikal = dict()
for nama_kolom in data_frame.columns:
    if nama_kolom != 'id':
        set_data = list(set(data_frame[nama_kolom]))
        if type(set_data[0]) == str:
            if 'NA' in set_data:
                set_data[set_data.index('NA')], set_data[0] = set_data[0], set_data[set_data.index('NA')]
                index_set_data = [str(i) for i in range(len(set_data))]
            else:
                set_data.append('NA')
                index_set_data = [str(i) for i in range(len(set_data))]

            data_kategorikal[nama_kolom] = dict(zip(set_data,index_set_data))
            
data_kategorikal

{'mszoning': {'fv': '0',
  'rl': '1',
  'c (all)': '2',
  'rm': '3',
  'rh': '4',
  'NA': '5'},
 'street': {'pave': '0', 'grvl': '1', 'NA': '2'},
 'alley': {'NA': '0', 'pave': '1', 'grvl': '2'},
 'lotshape': {'ir2': '0', 'ir3': '1', 'reg': '2', 'ir1': '3', 'NA': '4'},
 'landcontour': {'hls': '0', 'bnk': '1', 'low': '2', 'lvl': '3', 'NA': '4'},
 'utilities': {'allpub': '0', 'nosewa': '1', 'NA': '2'},
 'lotconfig': {'culdsac': '0',
  'inside': '1',
  'corner': '2',
  'fr2': '3',
  'fr3': '4',
  'NA': '5'},
 'landslope': {'sev': '0', 'gtl': '1', 'mod': '2', 'NA': '3'},
 'neighborhood': {'timber': '0',
  'edwards': '1',
  'clearcr': '2',
  'idotrr': '3',
  'somerst': '4',
  'meadowv': '5',
  'names': '6',
  'collgcr': '7',
  'oldtown': '8',
  'sawyer': '9',
  'mitchel': '10',
  'swisu': '11',
  'veenker': '12',
  'blmngtn': '13',
  'brkside': '14',
  'brdale': '15',
  'nwames': '16',
  'npkvill': '17',
  'noridge': '18',
  'sawyerw': '19',
  'crawfor': '20',
  'gilbert': '21',
  'blueste': '22',
  'nridght': '23',
  'stonebr': '24',
  'NA': '25'},
 'condition1': {'rrnn': '0',
  'posa': '1',
  'norm': '2',
  'artery': '3',
  'rrne': '4',
  'feedr': '5',
  'rrae': '6',
  'rran': '7',
  'posn': '8',
  'NA': '9'},
 'condition2': {'rrnn': '0',
  'rran': '1',
  'norm': '2',
  'artery': '3',
  'feedr': '4',
  'rrae': '5',
  'posa': '6',
  'posn': '7',
  'NA': '8'},
 'bldgtype': {'duplex': '0',
  'twnhs': '1',
  '1fam': '2',
  'twnhse': '3',
  '2fmcon': '4',
  'NA': '5'},
 'housestyle': {'2story': '0',
  '2.5fin': '1',
  '1story': '2',
  'slvl': '3',
  'sfoyer': '4',
  '1.5fin': '5',
  '1.5unf': '6',
  '2.5unf': '7',
  'NA': '8'},
 'roofstyle': {'shed': '0',
  'mansard': '1',
  'hip': '2',
  'gambrel': '3',
  'flat': '4',
  'gable': '5',
  'NA': '6'},
 'roofmatl': {'clytile': '0',
  'compshg': '1',
  'membran': '2',
  'tar&grv': '3',
  'roll': '4',
  'metal': '5',
  'wdshake': '6',
  'wdshngl': '7',
  'NA': '8'},
 'exterior1st': {'brkcomm': '0',
  'asbshng': '1',
  'cblock': '2',
  'brkface': '3',
  'stucco': '4',
  'plywood': '5',
  'wdshing': '6',
  'asphshn': '7',
  'wd sdng': '8',
  'cemntbd': '9',
  'imstucc': '10',
  'stone': '11',
  'vinylsd': '12',
  'metalsd': '13',
  'hdboard': '14',
  'NA': '15'},
 'exterior2nd': {'asbshng': '0',
  'brk cmn': '1',
  'cblock': '2',
  'brkface': '3',
  'stucco': '4',
  'wd shng': '5',
  'plywood': '6',
  'cmentbd': '7',
  'other': '8',
  'asphshn': '9',
  'wd sdng': '10',
  'imstucc': '11',
  'stone': '12',
  'vinylsd': '13',
  'metalsd': '14',
  'hdboard': '15',
  'NA': '16'},
 'masvnrtype': {'NA': '0',
  'brkface': '1',
  'stone': '2',
  'brkcmn': '3',
  'none': '4'},
 'exterqual': {'fa': '0', 'ta': '1', 'ex': '2', 'gd': '3', 'NA': '4'},
 'extercond': {'ex': '0',
  'gd': '1',
  'fa': '2',
  'po': '3',
  'ta': '4',
  'NA': '5'},
 'foundation': {'brktil': '0',
  'cblock': '1',
  'wood': '2',
  'slab': '3',
  'pconc': '4',
  'stone': '5',
  'NA': '6'},
 'bsmtqual': {'NA': '0', 'gd': '1', 'fa': '2', 'ta': '3', 'ex': '4'},
 'bsmtcond': {'NA': '0', 'fa': '1', 'ta': '2', 'po': '3', 'gd': '4'},
 'bsmtexposure': {'NA': '0', 'gd': '1', 'av': '2', 'mn': '3', 'no': '4'},
 'bsmtfintype1': {'NA': '0',
  'alq': '1',
  'lwq': '2',
  'unf': '3',
  'glq': '4',
  'blq': '5',
  'rec': '6'},
 'bsmtfintype2': {'NA': '0',
  'alq': '1',
  'lwq': '2',
  'unf': '3',
  'glq': '4',
  'blq': '5',
  'rec': '6'},
 'heating': {'gasw': '0',
  'grav': '1',
  'gasa': '2',
  'wall': '3',
  'floor': '4',
  'othw': '5',
  'NA': '6'},
 'heatingqc': {'ex': '0',
  'gd': '1',
  'fa': '2',
  'po': '3',
  'ta': '4',
  'NA': '5'},
 'centralair': {'y': '0', 'n': '1', 'NA': '2'},
 'electrical': {'NA': '0',
  'sbrkr': '1',
  'fusef': '2',
  'mix': '3',
  'fusep': '4',
  'fusea': '5'},
 'kitchenqual': {'fa': '0', 'ta': '1', 'ex': '2', 'gd': '3', 'NA': '4'},
 'functional': {'sev': '0',
  'min2': '1',
  'maj2': '2',
  'min1': '3',
  'typ': '4',
  'maj1': '5',
  'mod': '6',
  'NA': '7'},
 'fireplacequ': {'NA': '0',
  'ex': '1',
  'gd': '2',
  'fa': '3',
  'ta': '4',
  'po': '5'},
 'garagetype': {'NA': '0',
  'basment': '1',
  'detchd': '2',
  '2types': '3',
  'attchd': '4',
  'builtin': '5',
  'carport': '6'},
 'garagefinish': {'NA': '0', 'fin': '1', 'rfn': '2', 'unf': '3'},
 'garagequal': {'NA': '0',
  'ex': '1',
  'gd': '2',
  'fa': '3',
  'ta': '4',
  'po': '5'},
 'garagecond': {'NA': '0',
  'gd': '1',
  'fa': '2',
  'ta': '3',
  'po': '4',
  'ex': '5'},
 'paveddrive': {'p': '0', 'y': '1', 'n': '2', 'NA': '3'},
 'poolqc': {'NA': '0', 'fa': '1', 'ex': '2', 'gd': '3'},
 'fence': {'NA': '0', 'gdwo': '1', 'gdprv': '2', 'mnww': '3', 'mnprv': '4'},
 'miscfeature': {'NA': '0',
  'othr': '1',
  'tenc': '2',
  'shed': '3',
  'gar2': '4'},
 'saletype': {'new': '0',
  'cwd': '1',
  'conld': '2',
  'conlw': '3',
  'oth': '4',
  'conli': '5',
  'wd': '6',
  'cod': '7',
  'con': '8',
  'NA': '9'},
 'salecondition': {'normal': '0',
  'partial': '1',
  'family': '2',
  'alloca': '3',
  'adjland': '4',
  'abnorml': '5',
  'NA': '6'}}

In [18]:
#mengubah dataframe menjadi numerical
for kolom in data_frame.columns:
    if kolom in data_kategorikal:
#         print(kolom,end=" ")
        for i in data_kategorikal[kolom]:
            data_frame[kolom] = data_frame[kolom].replace(i, data_kategorikal[kolom][i])

In [19]:
data_frame

,id,mssubclass,mszoning,lotfrontage,lotarea,street,alley,lotshape,landcontour,utilities,...,poolarea,poolqc,fence,miscfeature,miscval,mosold,yrsold,saletype,salecondition,saleprice
0,1,60,1,65.0,8450,0,0,2,3,0,...,0,0,0,0,0,2,2008,6,0,208500
1,2,20,1,80.0,9600,0,0,2,3,0,...,0,0,0,0,0,5,2007,6,0,181500
2,3,60,1,68.0,11250,0,0,3,3,0,...,0,0,0,0,0,9,2008,6,0,223500
3,4,70,1,60.0,9550,0,0,3,3,0,...,0,0,0,0,0,2,2006,6,5,140000
4,5,60,1,84.0,14260,0,0,3,3,0,...,0,0,0,0,0,12,2008,6,0,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,1,62.0,7917,0,0,2,3,0,...,0,0,0,0,0,8,2007,6,0,175000
1456,1457,20,1,85.0,13175,0,0,2,3,0,...,0,0,4,0,0,2,2010,6,0,210000
1457,1458,70,1,66.0,9042,0,0,2,3,0,...,0,0,2,3,2500,5,2010,6,0,266500
1458,1459,20,1,68.0,9717,0,0,2,3,0,...,0,0,0,0,0,4,2010,6,0,142125
1459,1460,20,1,75.0,9937,0,0,2,3,0,...,0,0,0,0,0,6,2008,6,0,147500

In [20]:
data_frame.to_csv("test_output_numerical.csv",index=False)

In [21]:
#cek data Numerical
def cek_data_Numerical(nama_kolom, angka):
    if nama_kolom in data_kategorikal:
        for i in data_kategorikal[nama_kolom]:
            if data_kategorikal[nama_kolom][i]==angka:
                print(i)
                break
            else:
                pass
                
    else:
        print("cek nama kolom")
#     print(data_kategorikal[nama_kolom][angka])

In [22]:
cek_data_Numerical('landcontour',3)

In [23]:
# save json file
import json
with open('data_kategorikal.json', 'w') as f:
    json.dump(data_kategorikal, f)

In [24]:
data_frame

,id,mssubclass,mszoning,lotfrontage,lotarea,street,alley,lotshape,landcontour,utilities,...,poolarea,poolqc,fence,miscfeature,miscval,mosold,yrsold,saletype,salecondition,saleprice
0,1,60,1,65.0,8450,0,0,2,3,0,...,0,0,0,0,0,2,2008,6,0,208500
1,2,20,1,80.0,9600,0,0,2,3,0,...,0,0,0,0,0,5,2007,6,0,181500
2,3,60,1,68.0,11250,0,0,3,3,0,...,0,0,0,0,0,9,2008,6,0,223500
3,4,70,1,60.0,9550,0,0,3,3,0,...,0,0,0,0,0,2,2006,6,5,140000
4,5,60,1,84.0,14260,0,0,3,3,0,...,0,0,0,0,0,12,2008,6,0,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,1,62.0,7917,0,0,2,3,0,...,0,0,0,0,0,8,2007,6,0,175000
1456,1457,20,1,85.0,13175,0,0,2,3,0,...,0,0,4,0,0,2,2010,6,0,210000
1457,1458,70,1,66.0,9042,0,0,2,3,0,...,0,0,2,3,2500,5,2010,6,0,266500
1458,1459,20,1,68.0,9717,0,0,2,3,0,...,0,0,0,0,0,4,2010,6,0,142125
1459,1460,20,1,75.0,9937,0,0,2,3,0,...,0,0,0,0,0,6,2008,6,0,147500

In [25]:
data_frame_non_mumerical

,id,mssubclass,mszoning,lotfrontage,lotarea,street,alley,lotshape,landcontour,utilities,...,poolarea,poolqc,fence,miscfeature,miscval,mosold,yrsold,saletype,salecondition,saleprice
0,1,60,1,65.0,8450,0,0,2,3,0,...,0,0,0,0,0,2,2008,6,0,208500
1,2,20,1,80.0,9600,0,0,2,3,0,...,0,0,0,0,0,5,2007,6,0,181500
2,3,60,1,68.0,11250,0,0,3,3,0,...,0,0,0,0,0,9,2008,6,0,223500
3,4,70,1,60.0,9550,0,0,3,3,0,...,0,0,0,0,0,2,2006,6,5,140000
4,5,60,1,84.0,14260,0,0,3,3,0,...,0,0,0,0,0,12,2008,6,0,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,1,62.0,7917,0,0,2,3,0,...,0,0,0,0,0,8,2007,6,0,175000
1456,1457,20,1,85.0,13175,0,0,2,3,0,...,0,0,4,0,0,2,2010,6,0,210000
1457,1458,70,1,66.0,9042,0,0,2,3,0,...,0,0,2,3,2500,5,2010,6,0,266500
1458,1459,20,1,68.0,9717,0,0,2,3,0,...,0,0,0,0,0,4,2010,6,0,142125
1459,1460,20,1,75.0,9937,0,0,2,3,0,...,0,0,0,0,0,6,2008,6,0,147500

In [26]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
# X, y = make_classification(n_samples=1000, n_features=4,
#                            n_informative=2, n_redundant=0,
#                            random_state=0, shuffle=False)
# clf = RandomForestClassifier(max_depth=2, random_state=0)
# clf.fit(X, y)

# print(clf.predict([[0, 0, 0, 0]]))

In [27]:
y = data_frame['salecondition']

X = data_frame.drop(columns=['id','salecondition'])
X

,mssubclass,mszoning,lotfrontage,lotarea,street,alley,lotshape,landcontour,utilities,lotconfig,...,screenporch,poolarea,poolqc,fence,miscfeature,miscval,mosold,yrsold,saletype,saleprice
0,60,1,65.0,8450,0,0,2,3,0,1,...,0,0,0,0,0,0,2,2008,6,208500
1,20,1,80.0,9600,0,0,2,3,0,3,...,0,0,0,0,0,0,5,2007,6,181500
2,60,1,68.0,11250,0,0,3,3,0,1,...,0,0,0,0,0,0,9,2008,6,223500
3,70,1,60.0,9550,0,0,3,3,0,2,...,0,0,0,0,0,0,2,2006,6,140000
4,60,1,84.0,14260,0,0,3,3,0,3,...,0,0,0,0,0,0,12,2008,6,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,1,62.0,7917,0,0,2,3,0,1,...,0,0,0,0,0,0,8,2007,6,175000
1456,20,1,85.0,13175,0,0,2,3,0,1,...,0,0,0,4,0,0,2,2010,6,210000
1457,70,1,66.0,9042,0,0,2,3,0,1,...,0,0,0,2,3,2500,5,2010,6,266500
1458,20,1,68.0,9717,0,0,2,3,0,1,...,0,0,0,0,0,0,4,2010,6,142125
1459,20,1,75.0,9937,0,0,2,3,0,1,...,0,0,0,0,0,0,6,2008,6,147500

In [28]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [29]:
clf = RandomForestClassifier(max_depth=20, random_state=0)

In [30]:
clf.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=20, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [31]:
y_pred = clf.predict(X)

In [32]:
y_true = y
target_names = list(set(y))
print(classification_report(y_true, y_pred, target_names=target_names))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1198
           5       1.00      1.00      1.00       125
           3       1.00      1.00      1.00        20
           2       1.00      1.00      1.00        12
           1       1.00      1.00      1.00         4
           4       1.00      0.97      0.98       101

    accuracy                           1.00      1460
   macro avg       1.00      1.00      1.00      1460
weighted avg       1.00      1.00      1.00      1460

In [84]:

y_true = y
target_names = list(set(y))
print(classification_report(y_true, y_pred, target_names=target_names))

              precision    recall  f1-score   support

     AdjLand       0.00      0.00      0.00        89
      Alloca       0.00      0.00      0.00         8
      Normal       0.00      0.00      0.00        12
     Abnorml       0.00      0.00      0.00        26
      Family       0.85      1.00      0.92      1204
     Partial       1.00      0.38      0.55       120

    accuracy                           0.86      1459
   macro avg       0.31      0.23      0.25      1459
weighted avg       0.79      0.86      0.80      1459

C:\Users\lufias\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [82]:
len(set(y))

6

In [83]:
set(y_pred)

{'Normal', 'Partial'}